# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
out/
workspace.xml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Application secrets
application-*.yml
!application.yml

# Node (ileride frontend eklenirse)
node_modules/
